/*CSS for BisbeeVacationRental
*/

body {

 font-family: Arial, Helvetica, sans-serif;
 color: #321;
 background-image: url('../photos/Bisbee_panorama_2009.jpg');
 background-position: left bottom;
 background-origin: -100px;
 background-size: cover;
 background-repeat: no-repeat;
 margin: 0;
 background-color: #ca6;
 padding: 1.5em 0 2.5rem;
}

p {
 font-size: 1em;
}

h1 {
  /*potential Google fonts: Cinzel, Cormorant Unicase, BioRhyme Expanded, Marcellus SC, IM Fell DW Pica, */
 font-family: 'Rye', cursive;
 font-size: 2.25rem;
 font-weight: 400;
}

h2, h3 {
 font-family: Georgia, serif;
}

img {
 border: 1rem solid #564;
 border-radius: .3rem;
 box-shadow: 0 .1rem #132;

}

/* There must be a tighter way to organize space within container. */


#maincontainer {

 border: 0.1em solid #707285;
 border-radius: .8rem;
 width: 53em;
 height: 46em;
 background-color: #ab8;
 margin: 0 auto 0 auto;
 padding: 1rem;

}


.bodycontent {

/* border: 0.1em solid #FFFF99; */
/* width: 53em; */
 margin: 0 auto 0 auto;
 padding: 1.25em 1.5em 0 1.5em

}

#header {

/* border: 0.1em solid #FF0000 */
/* padding-bottom: 1.25em; */
 margin-top: 1em;
 text-align: center;

}

/*#header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #453;
}*/

#header a {
 font-weight: 400;
 font-size: large;
 letter-spacing: 0.075em;
}

#header img {
 border: 0 solid;

}

#header p {
  font-family: Georgia, serif;
 margin: 0 auto 0.4em auto;
}

#header h2,h3 {
  color: #732;
  font-weight: 400;
}

#navbar {
  padding: 1rem 0 .5rem;
}

#navbar a{
  font-family: Georgia, serif;
  font-size: small;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background: #383644;
  border: .15rem solid #383644;
  border-radius: .3rem;
 padding: .55em 1.35rem;
 margin-top: 0;
 color: #da2;
 transition: .25s ease-in;
}

#navbar a:hover{
  color: #fd0;
  background: #36a;
  border: .15rem solid #29f;
  transition: .075s ease-in;
}

#header .border {
  margin-top: 1rem;
  width: 92%;
  height: .2rem;
  background-color: #d23;
  transform: skewX(-60deg);
  border: none;
  box-shadow: none;
  opacity: .6;
}

.left-hand {

/* border: 0.1em solid #FF0000; */
 text-align:left;


}

.left-hand ul {

 margin-left: 4em;
}

.right-hand {

 margin-left: 2em;
/* border: 0.1em solid #FF0000; */
 float: right;
 width: auto;
/* margin-bottom: 1em; */
 text-align: right

}

.right-hand img {

 width: 20em;
}


.map {
 float: right;
 text-align: center;
 padding: 1em 0 1em 0;
 margin-bottom: 1em;
 margin-left: 1em;
 background-color: rgb(51,51,17);
 width: 32em;
 height: 18em
}

.map img{
 border: none;
 margin-bottom: 1em;
}




#links {

 padding: 0 0 0 1em;

}

#links a {
 font-weight: bold;
 letter-spacing: 0.1em
}

#links ul {
 list-style-type: none;
}

#links li {
 padding: 0.25em 0 0.25em 0;
}


a:link {
 text-decoration: none;
 color: rgb(255,204,51);
}

a:visited {
 text-decoration: none;
 color: rgb(34,54,34);
}

a:active {
 text-decoration: none;
 color: rgb(17,153,69)
}

a:hover {
 text-decoration: none;
 color: #650
}

/* photo page, 4 columns as ul */

.bodycontent ul#column1, ul#column2, ul#column3, ul#column4{
	width: 20em;
	text-align: center;
	font-size: small;
}

#column1, #column2, #column3, #column4 {

/*	border: 0.1em solid #ff0000; */
	padding: 0;
	margin: 0;

	list-style-type: none;
}

#column2, #column3 {
	float: right;
}

#column1 img, #column2 img, #column3 img, #column4 img{
	border: 0.2em solid rgb(255,204,51);
	height: 12em;
	width: auto;

}

#column1 li, #column2 li, #column3 li, #column4 li{

/*	border: 0.1em solid #00ff00;*/
	padding-bottom: 1em;
}

/* li.caption {
/*	border: 0.1em solid #ff0000;*/
	height=2em;
	margin-bottom: 0.75em;
}*/

/* end photo page */
