/*CSS for BisbeeVacationRental
*/

body {
 
 font-family: Arial, Helvetica, sans-serif;
 color: #ffcc33;
 background-image: url('photos/PanoramaLarge.jpg');
 margin: 0;
/* background-color: rgb(160,48,00); */
 padding-top: 2.5em;
}

p {
 font-size: 1em;
}

h1 {
 font-family: Times, "Times New Roman", serif;
 font-size: 150%;
 font-weight: normal;
 line-height: 100%;
 margin-top: 0px;
 margin-bottom:0px
}

h2 {
 font-family: Times, "Times New Roman", serif;
 font-size: 125%;
 font-weight: normal;
 padding: 0;
 margin: 0
}

img {
 border: 0.7em solid #333300;
}

/* There must a tighter way to organize space within container. */


#mastercontainer {

 border: 0.4em solid #003300;
 width: 53em;
 height: 46em;
 background-color: #666633;
 margin: 0 auto 0 auto;
 padding: 0 0 0 0

}


.bodycontent {

/* border: 0.1em solid #FFFF99; */
/* width: 53em; */
 margin: 0 auto 0 auto;
 padding: 1.25em 1.5em 0 1.5em

}

#header {

/* border: 0.1em solid #FF0000 */
/* padding-bottom: 1.25em; */
 margin-top: 1em;
 text-align: center;

}

#header a {
 font-weight: 500;
 font-size: 115%;
 letter-spacing: 0.075em;
}

#header img {
 border: 0 solid;

}

#header p {
 margin: 0 auto 0.4em auto;
}

#navbar a{
 padding-left: 2em;
 padding-right: 2em;
 margin-top: 0;
}

.left-hand {

/* border: 0.1em solid #FF0000; */
 text-align:left;


}

.left-hand ul {

 margin-left: 4em;
}

.right-hand {

 margin-left: 2em;
/* border: 0.1em solid #FF0000; */
 float: right;
 width: auto;
/* margin-bottom: 1em; */
 text-align: right

}

.right-hand img {

 width: 20em;
}


.map {
 float: right; 
 text-align: center;
 padding: 1em 0 1em 0;
 margin-bottom: 1em;
 margin-left: 1em;
 background-color: rgb(51,51,17);
 width: 32em;
 height: 18em
}

.map img{
 border: none;
 margin-bottom: 1em;
}




#links {

 padding: 0 0 0 1em;
 
}

#links a {
 font-weight: bold;
 letter-spacing: 0.1em
}

#links ul {
 list-style-type: none;
}

#links li {
 padding: 0.25em 0 0.25em 0;
}


a:link {
 text-decoration: none;
 color: rgb(255,204,51);
}

a:visited {
 text-decoration: none;
 color: rgb(34,54,34);
}

a:active {
 text-decoration: none;
 color: rgb(17,153,69)
}

a:hover {
 text-decoration: none;
 color: rgb(102,153,102)
}

/* photo page, 4 columns as ul */

.bodycontent ul#column1, ul#column2, ul#column3, ul#column4{
	width: 20em;
	text-align: center;
	font-size: small;
}

#column1, #column2, #column3, #column4 {

/*	border: 0.1em solid #ff0000; */
	padding: 0;
	margin: 0;
	
	list-style-type: none;
}

#column2, #column3 {
	float: right;
}

#column1 img, #column2 img, #column3 img, #column4 img{
	border: 0.2em solid rgb(255,204,51);
	height: 12em;
	width: auto;

}

#column1 li, #column2 li, #column3 li, #column4 li{

/*	border: 0.1em solid #00ff00;*/
	padding-bottom: 1em;
}

/* li.caption {
/*	border: 0.1em solid #ff0000;*/
	height=2em;
	margin-bottom: 0.75em;
}*/

/* end photo page */