$off-white: #f6faec;

$pallid-white: #fcf9ff;

$sand: #dc9;

$darkPurple: #383644;

$blue: #29f;

$darkBlue: #36a;

$yellowOrange: #da2;

$yellow: #fd0;

$sageGreen: #ab8;

$darkGreen: #333f20;

$brown: #532;

$darkBrown: #321;

$grey: #595555;
