$blue: #29f;

$brown: #532;

$darkBlue: #36a;

$darkBrown: #321;

$darkGreen: #333f20;

$darkPurple: #383644;

$grey: #595555;

$off-white: #f6faec;

$pallid-white: #f6fcff;

$sageGreen: #ab8;

$sand: #ec7;

$yellow: #fd0;

$yellowOrange: #db3;

$indicative-blue: $blue;
$dot-blue: darken($blue,25%);
