@mixin navbar-button($text-color,$bg-color,$border-color) {
  padding: 0.3rem .8rem;
  color:$text-color;
  font-weight: 700;
  background-color: $bg-color;
  border-radius: .3rem;
  transition: .15s ease-in;
  text-decoration: none;
}

.header {
  text-align: center;

  h1 {
    font-family: 'Rye', cursive;
    font-weight: 400;
    color: $darkGreen;
    letter-spacing: 0.075rem;

    &:first-child {
      margin-top: .5rem;
    }
  }

  h5 {
    color: $darkBrown;
    font-weight: 400;
  }

  ul.navbar {

    font-size: .95rem;
    text-transform: uppercase;
    letter-spacing: .1rem;

    li {
      display: inline;
      list-style-type: none;
//      width: 12rem;

      a {
        display: inline-block;
        @include navbar-button(lighten($yellowOrange,5%),$darkPurple,$darkPurple);

        &:hover{
          @include navbar-button($brown,lighten($blue,20%),$darkBlue);
        }
      }
    }
  }

  .border {
    margin: 1.25rem auto 1.5rem auto;
  }
}
