// @import colors

@mixin navbar-button($text-color,$bg-color,$border-color) {
  padding: 0.4rem 1.3rem;
  color:$text-color;
  background-color: $bg-color;
  border-radius: .3rem;
  transition: .25s ease-in;
  text-decoration: none;
}

.header {
  text-align: center;

  h1 {
    font-family: 'Rye', cursive;
    font-weight: 400;
    color: $darkGreen;
    letter-spacing: 0.075rem;

    &:first-child {
      margin-top: .5rem;
    }
  }

  h3 {
    color: $brown;
    font-weight: 400;
  }

  ul.navbar {

    font-size: medium;
//    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;

    li {
      display: inline;
      list-style-type: none;
      width: 12rem;

      a {
        display: inline-block;
//        width: 8rem;
        @include navbar-button($yellowOrange,$darkPurple,$darkPurple);

        &:hover{
          @include navbar-button($brown,lighten($blue,20%),$darkBlue);
        }
      }
    }
  }

  .border {
    margin: 1.25rem auto 1.5rem auto;
  }
}
