@import '_colors';

$main-container-bg: $off-white;

$main-container-border: .15rem solid lighten($sageGreen,10%);

$main-container-outline: .2rem solid $off-white;

.row {
    background: none;
}

.maincontainerwrap {
  background: $main-container-bg;
  //border-radius: .5rem;
  padding: .25rem;
}

.photo-wrapper {
  background: $pallid-white;
  padding: .375rem;
  overflow: hidden;
  border: .0625rem solid $sageGreen;
}

.maincontainer {
  background: $main-container-bg;
  border-radius: .5rem;
  padding: 1.25rem 1.5rem 0.5rem;
  border: $main-container-border;

  .photo-wrapper {
    float: right;
    margin: 0 0 .5rem .5rem;
  }

@media screen and (max-width: 640) {
    .photo-wrapper {
      margin: 0;
      width: 100%;
      background: none;
      padding: 0;
      border: none;
    }
  }
}
