@mixin glow-shadow($horz, $vert, $blur, $spread, $shadow-color-in, $shadow-color-adjust) {
  $shadow-color-out: lighten($shadow-color-in,$shadow-color-adjust);
  $invert-vert: -1 * $vert;
  $invert-horz: -1 * $horz;
  box-shadow: 0 $invert-vert $blur $spread $shadow-color-out, $horz 0 $blur $spread $shadow-color-out, 0 $vert $blur $spread $shadow-color-out, $invert-horz 0 $blur $spread $shadow-color-out;
}

div.quote-container {
//  margin: 2rem 1.25rem;
//  padding: .75rem 1.5rem;
  border: .75rem solid lighten($blue,35%);
  background: lighten($blue,38%);
  border-radius: .4rem;

  q.testimonial {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;

  }

  cite::before {
    content: "\A\2013\00a0";
    white-space: pre;
  }
}
