@import '_colors';

$primary-font-family: Georgia, serif;

$main-text-color: $darkBrown;

$main-headline-color: $darkBrown;

//font-family declared separately for headline, body elements for ease of future customization

h1, h2, h3, h4, h5, h6,
div, p,
a, form,
ul, ol, li, dl, dd,
q, blockquote, cite,
td, th {
  font-family: $primary-font-family;
}

body {
  font-family: $primary-font-family;
  color: $main-text-color;
}

a {
  text-decoration: none;
  color: $darkBlue;
}

a:hover {
  color: $blue;
}

ul.features-list {
  list-style-type: none;

  & li:before {
    font-size: .9rem;
    margin-right: .25rem;
    content: '\2756\0020';
  }
}
