@import '_colors';
@import '_header';
@import '_photo-page';
@import '_my-slick-theme';
@import '_reservations-page';

$primary-font-family: Georgia, serif;

$main-text-color: $darkBrown;

$main-headline-color: $darkBrown;

$main-container-bg: $off-white;

$main-container-border: .15rem solid lighten($sageGreen,10%);

$main-container-outline: .2rem solid $off-white;

@mixin body-bg($bg-img,$repeat,$v-position,$h-position,$b-w,$sepia) {
  $filter: grayscale($b-w) sepia($sepia);
  background: $bg-img $repeat; //$v-position $h-position;
  -webkit-filter: $filter;
  filter: $filter;
  -webkit-background-size: cover;
  background-size: cover;

  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

//font-family declared separately for headline, body elements for easy of future customization

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family;
}

div, p {
  font-family: $primary-font-family;
}

a, form {
  font-family: $primary-font-family;
}

ul, ol, li, dl, dd {
  font-family: $primary-font-family;
}

q, blockquote, cite {
  font-family: $primary-font-family;
}

td, th, {
  font-family: $primary-font-family;
}

body {
  font-family: $primary-font-family;
  color: $main-text-color;
  height: 100%;
  padding: 0;
  margin: 0;

  .bg-container {
    @include body-bg(url('../photos/Bisbee_panorama_2009.JPG'), no-repeat, bottom, left, 30%, 20%);
  }

  &>.row {
    margin: 1.5rem auto 2.5rem;
  }

  .maincontainerwrap {
    background: $main-container-bg;
    border-radius: .5rem;
//    width: 62%;
//    margin: 1.5rem auto 2.5rem;
    padding: .25rem;
//    z-index: 2;
  }

    .maincontainer {
      background: $main-container-bg;
      border-radius: .5rem;
//      margin: auto;
//      height: 92%;
//      width: 92%;
//      box-sizing: border-box;
      padding: 1.25rem 1.5rem 0.5rem;
      border: $main-container-border;
//      outline: $main-container-outline;

//      .left-hand h2 {
//        margin-top: 0;
//      }

      a {
        text-decoration: none;
        color: $darkBlue;
      }

      a:hover {
        color: $blue;
      }

      .right-hand {
        margin: 0 0 1rem 1.5rem;
        width: 45%;
        float: right;
        background: pink;

        .photo-wrapper {
          border-radius: .3rem;
          overflow: hidden;
          border: .25rem solid lighten($sageGreen,0%);
          box-shadow: 0 .1rem 0.1rem darken($sageGreen,30%);
        }

        img {
//          position: relative;
          float: right;
          width: 100%;
          box-sizing: border-box;
//          border: 1rem solid $sageGreen;
//          border-radius: .3rem;
//          box-shadow: 0 .1rem $darkGreen;
        }
      }
    }
}
